<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811374051328-96vc47cupe3vhjk0tps0a2qs6s2lp376.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811374051328-96vc47cupe3vhjk0tps0a2qs6s2lp376</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811374051328-g1nchbhc9rf2lvucfi5oscg9elbu0afc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeRM_9Jc0mxbjsF0yK-qI_taYTzzz9vXw</string>
	<key>GCM_SENDER_ID</key>
	<string>811374051328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soft-berry.ev-infra</string>
	<key>PROJECT_ID</key>
	<string>ev-infra</string>
	<key>STORAGE_BUCKET</key>
	<string>ev-infra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811374051328:ios:b82a2556fbf9a47383d8e5</string>
	<key>DATABASE_URL</key>
	<string>https://ev-infra.firebaseio.com</string>
</dict>
</plist>